
<!DOCTYPE html>
<html>

  <mat-card class = header>
    <div class="container">
      <div class = "row">
        <div class = "col-md-4 col-sm-12 col-xs-12">
          <img mat-card-image src="./assets/img/me.png" alt="Me">
        </div>
        <div class = "col-md-8 col-sm-12 col-xs-12">
          <mat-card-content>
            <mat-card-title style = "color:white">David Zhu</mat-card-title>
            <mat-card-subtitle style = "color:white">University of Illinois at Urbana-Champaign</mat-card-subtitle>
            <mat-card-subtitle style = "color:white">Bachelor of Science in Computer Science and Statistics</mat-card-subtitle>
            <mat-card-subtitle style = "color:white">GPA: 3.67/4.0</mat-card-subtitle>
            <mat-card-subtitle  style = "color:white">Expected Graduation: December 2020</mat-card-subtitle>
          </mat-card-content>

          <mat-card-content>
              <ul class = "social list-inline">
                <li>
                  <a href="https://www.linkedin.com/in/davidzhu98/">
                    <img src="./assets/img/linkedin.png" height = 30px; >
                  </a>
                </li>
                <li>
                  <a href="https://github.com/davidzhu98">
                    <i class = "fa fa-github-alt">
                      <img src="./assets/img/git.png" height = 30px; >
                    </i>
                  </a>
                </li> 
              </ul>
          </mat-card-content>
        </div>
      </div>    
    </div>
  </mat-card>


  
  <div class= "container section-wrapper">
    <div class = "row">
      <div class = "primary col-md-8 col-sm-12 col-xs-12">
        <mat-card class = "project section">
          <mat-card-title class = "heading">Projects</mat-card-title>
          <mat-card-content>
            <mat-card-title>NeighborHOOD Watch</mat-card-title>
            <mat-card-subtitle>Chicago Crime Database</mat-card-subtitle>
            <div>
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                  <img mat-card-image src="./assets/img/neighborhood/1.PNG" alt="Random first slide">
                  <div class="carousel-caption">
                    <mat-card-title style = "color:black">Home Page</mat-card-title>
                    <mat-card-subtitle style = "color:black">Crime Frequency Map</mat-card-subtitle>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img mat-card-image  src="./assets/img/neighborhood/2.PNG" alt="Random first slide">
                    <div class="carousel-caption">
                      <mat-card-title style = "color:black">User Registration Page</mat-card-title>
                      <mat-card-subtitle style = "color:black">Make an account to report crimes</mat-card-subtitle>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img mat-card-image  src="./assets/img/neighborhood/3.PNG" alt="Random first slide">
                    <div class="carousel-caption">
                      <mat-card-title style = "color:black">Profile Page</mat-card-title>
                      <mat-card-subtitle style = "color:black">See user information and reported crimes</mat-card-subtitle>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img mat-card-image  src="./assets/img/neighborhood/4.PNG" alt="Random first slide">
                    <div class="carousel-caption">
                      <mat-card-title style = "color:black">Report Page</mat-card-title>
                      <mat-card-subtitle style = "color:black">Report a Crime</mat-card-subtitle>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img mat-card-image  src="./assets/img/neighborhood/5.PNG" alt="Random first slide">
                    <div class="carousel-caption">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img mat-card-image  src="./assets/img/neighborhood/6.PNG" alt="Random first slide">
                    <div class="carousel-caption">
                      <mat-card-title style = "color:black">Community Area Map</mat-card-title>
                      <mat-card-subtitle style = "color:black">Navigate to a specific community area</mat-card-subtitle>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img mat-card-image  src="./assets/img/neighborhood/4.PNG" alt="Random first slide">
                    <div class="carousel-caption">
                      <mat-card-title style = "color:black">Community Area Page</mat-card-title>
                      <mat-card-subtitle style = "color:black">See crime statistics for specified community area</mat-card-subtitle>
                    </div>
                </ng-template>  
              </ngb-carousel>
              </div>         
          </mat-card-content>
          <mat-card-content>
              <mat-card-title>InstaDam</mat-card-title>
              <mat-card-subtitle>Image Annotation Program</mat-card-subtitle>
              <div>
                  <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                        <img mat-card-image class = nb src="./assets/img/instadam/1.PNG" alt="Random first slide">
                        <div class="carousel-caption">
                          <!-- <mat-card-title style = "color:black">Community Area Page</mat-card-title>
                          <mat-card-subtitle style = "color:black">See crime statistics for specified community area</mat-card-subtitle> -->
                        </div>
                    </ng-template>

                  </ngb-carousel>
                  </div>    
          </mat-card-content>
        </mat-card>
        
        <mat-card class = "work section">
              <mat-card-title class = "heading"> Work Experience and Research</mat-card-title>
              <mat-card-content class = "content">
                <div class = "item featured exp">
                      <h5>Independent Study - InstaDam (Present)</h5>
                      <p>- Understand formal software engineering processes required to develop cutting edge open-source image annotation
                          creation tools</p>
                      <p>- Familiarity with modern SDKs and programming languages (Qt, C++, python)</p>
                      <p>- Set up Jenkins and wrote test cases to implement a CI/CD pipeline allowing new features to be pushed more efficiently</p>
                      <p>- Debugged existing code so that InstaDam features are working as intended</p>
                      <p>- Refactored InstaDam codebase making it easier to navigate through the project files</p>
                  </div>
                <div class = "item featured exp">
                    <h5>Software Engineering Intern at Smart Structures Student Laboratory (May 2019 - Aug 2019) </h5>
                    <p>- Implemented mouse tool classes in C++ for the SSTL annotation program allowing for faster and more accurate
                        labeling of images</p>
                    <p>- Identified bugs and isolated causes of memory leak issues with the SSTL annotation program resulting in a significant
                        decrease in crashes while using the program</p>
                    <p>- Precisely annotated structural defects and components for over 100 images per week creating a dataset that will be used
                        to develop a deep learning algorithm to identify the labeled areas</p>
                </div>
              </mat-card-content>
          </mat-card>
      </div>
    
      <div class = "secondary col-md-4 col-sm-12 col-xs-12">
        <mat-card class = "exp section">
            <mat-card-title class = "heading"> Contact Me</mat-card-title>
            <mat-card-content>
              <p>davidz2@illinois.edu</p>
            </mat-card-content>

        </mat-card>
        <mat-card class = "skill section">
            <mat-card-title class = "heading"> Skills</mat-card-title>
            <mat-card-subtitle class = "heading"> Programming Languages</mat-card-subtitle>
            <mat-card-content>
              <p>Python</p>
              <p>C++</p>
              <p>C</p>
              <p>Java</p>
              <p>HTML</p>
              <p>CSS</p>
              <p>JavaScript</p>
              <p>MySql</p>
              <h5 class = "heading"> Technologies</h5>
              <p>AngularJS</p>
              <p>Django</p>
              <p>Git</p>
              <p>Linux</p>
              <p>Visual Studios</p>
              <p>Qt</p>
            </mat-card-content>
        </mat-card>
      </div>
      </div>
  </div>
</html>


